.container{
    background-color: black;
    
 
}
*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
} 

.Header {
background-color: black;
display: flex;
justify-content: space-around;
flex-direction: row;
position: fixed;
width: 100%;
flex-wrap: wrap;
top: 0;
z-index: 10;
align-items: center;
}
.header-left{
    background-color: brown;
    padding: 15px;
    color: white;
    
}





.Headline h1 {
    font-size: 80px;
    animation-name: headex;
    animation:headex 5s linear 2s infinite alternate;
    font-family: 'Cinzel Decorative';
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    0% {color: white;}
    50% {color: red;}
    100% {color: white;}
}

.header-right {
  color: white;
  display: flex;
  justify-content: space-between;
}
a {
    text-decoration: none;
    color: white    ;
}
.header-right a {
    line-height: 20px;
    padding: 30px 24px;
    margin: 2px;
    flex-direction: row;
    transition: all 0.5s;
    
    
}

.header-right a:hover {
    opacity: 1;
    background-color: gray;
}
.fa{
    margin-right: 5px;
}
.menu-icon {
    display: none;
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
}

.Home {
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
}


.About-me {
    display: flex;
    justify-content: center;
    padding: 75px 75px;
}
.Am-left {
   margin-right: 0;
    
}
.img-right{
    margin-left: 0;
    
   
}
.Work-Experience {
    
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    padding: 100px 0;
    
}
.title {
    flex: 1;
    color: white;
    background-color: rgb(185, 180, 180);
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.Work-Experience div{
    flex: 1;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.work1 {
    background-color: #676362;
}
.work2 {
    background-color: #8c8887;
}
.work3 {
    background-color: #aba7a6;
}
.work4 {
    background-color: #c7bfbd;

}
.topEducation{
    text-align: center;
}
.topEducation{
    padding: 150px 0 0 0 ;
}
.Education{
display: flex;
justify-content:center;
}
.edu-right{
margin-left: 10px;
}
.edu-left{
    
    margin-right: 5px;
}
.Contact-form{
display: flex;
flex-direction: column;
margin-top: 25px;
align-items: center;
}

.Footer{
background-color: black;
display: flex;
color: white;
font-size: 5px;
flex-direction: column;
font-family: monospace;
align-items: center;
}
input, textarea {
    width:250px;
    margin-top:10px;
    margin-bottom:30px;
    padding:px;
    font-size:18px;
    border:1px solid #dee7ec;
  }
  .contact-submit {
    background-color:#dee7ec;
    color:#889eab;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }

.menu-toggle {
display: none;
flex-direction: column;
height: 20px;
justify-content: space-between;
position: relative;
}
.menu-toggle input{
    position: absolute;
    left: -6px;
    top: -10px;
    width: 40px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle span {
     display: block;
     width: 28px;
     height: 3px;
     background-color: ghostwhite;
     border-radius: 3px;
     transition: all 0.5s;
}

/* hamburger menu animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, 1px);

}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);

}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);

}


  /* responsive Breakpoint */
  @media screen and (max-width: 768px){
    .header-right {
        display: flex;
        flex-wrap: wrap;
    }
    .Headline{
        background-color: black;
        text-align: center;
        color: rgb(255, 255, 255);
        background-image: url(./Assets/bg1.png);
        background-size: cover;
        padding: 300px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .Headline h1 {
        font-size: 40px;
    }
}





@media screen and (min-width: 576px) {
    .Headline{
        background-color: black;
        text-align: center;
        color: white;
        background-image: url(./Assets/bg1.png);
        background-size: cover;
        padding: 350px 350px;
        height: 150px;
    }
}
    @media screen and (max-width: 576px) {
    .header-right {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: black;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -3;
        transform: translateX(100%);
        transition: all 1s;
    }
    .menu-toggle {
        display: flex;
        
    }
    .header-right.slide {
        transform: translateX(0);
    }
    .About-me {
        display: flex;
        justify-content: center;
        padding: 25px 5px 5px 10px;
    }
    .Headline{
        background-color: black;
        text-align: center;
        color: white;
        background-image: url(./Assets/bg1.png);
        background-size: cover;
        padding: 350px 100px;
        height: 150px;
    }
    .Headline h1 {
        font-size: 40px;
    }

} 
